@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf9f6;
}

.sl-font-sans, .sl-font-ui {
  font-family: 'Poppins' !important;
}

.sl-panel {
  border-radius: 5px;
  padding: 5px;
  background: #212a3b;
}